  a.btn-social,
  .btn-social {
    border-radius: 35%;
    color: #ffffff !important;
    display: inline-block;
    height: 27px;
    line-height: 29px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    width: 27px;
  }

  .btn-social .fa,
  .btn-social i {
    backface-visibility: hidden;
    transform: scale(1);
    transition: all .25s;
  }

  .btn-social:hover,
  .btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
  }

  .btn-social:hover .fa,
  .btn-social:focus .fa,
  .btn-social:hover i,
  .btn-social:focus i {
    transform: scale(1.3);
  }

  .btn-social.btn-xs {
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
  }

  .btn-social.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
  }

  .btn-social.btn-lg {
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
  }

  .btn-behance {
    background-image: linear-gradient(to left, hsl(223deg 92% 54%), hsl(226deg 77% 50%));
  }

  .btn-facebook {
    background-color: hsl(210deg 75% 42%);
  }

  .btn-github {
    background-color: #4183c4;
  }

  .btn-instagram {
    background-image: linear-gradient(to right, hsl(340deg 67% 45%), hsl(246deg 65% 62%));
  }

  .btn-twitter {
    background-color: hsl(207deg 83% 46%);
  }

  .header {
    background-color: black;
    color: white;
    font-family: 'Calibri';
    width: 100%;
    height: 45px;
    font-size: 15px;
  }

  .icon {
    padding-block: 5px;
    padding-right: 50px;
  }

  .searchbar {
    padding-block: 4px;
    margin-left: -130px;
  }

  .searchhold {
    height: 35px;
    width: 280px !important;
    padding-block: 2px;
  }

  .space {
    padding-block: 10px;
    padding-left: 50px;
  }

  .space2 {
    padding-block: 10px;
  }

  .arrow {
    padding-block: 8px;
  }

  .navbar {
    background-color: white;
    box-shadow: 2px 2px gainsboro;
    padding-inline: 100px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index:99;
  }

  .logo {
    height: 60px;
  }

  .justify {
    justify-content: space-between;
  }

  .imag {
    background-image: url(apple.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    height: 550px;
    position: relative;
  }

  .centered {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
  }

  .btnstyle {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 2px 3px hsl(198deg 78% 82%);
    height: 40px;
    width: 125px;
    background-color: Transparent;
    color: white;
    font-size: 18px;
  }

  .btnstyle:hover {
    opacity: 1;
    box-shadow: 0px 1px 2px 3px rgba(53, 40, 53, 0.255);
    background-image: linear-gradient(to right, rgba(232, 220, 220, 0.037), rgb(246, 227, 227));
  }

  .aboutpic {
    width: 102%;
    /* height: auto; */
    border-radius: 8px;
  }

  /* .picright {
    float: right;
  } */

  .about {
    font-family: 'Calibri';
    font-size: 15px;
    margin-right: 20px;
    margin-top: 38px;
    /* width: 50%; */
  }

  .readbuttons {
    float: left;
    color: black;
    border-radius: 15px;
    margin-top: 40px;
    border: 1px white;
    font-size: 16px;
    padding: 5px;
    box-shadow: 0px 1px 2px 3px hsl(198deg 78% 82%);
    height: 40px;
    width: 125px;
    background-color: Transparent;
    border-radius: 10px;
  }

  .readbuttons:hover {
    opacity: 1;
    box-shadow: 0px 1px 2px 3px rgba(53, 40, 53, 0.255);
    background-image: linear-gradient(to right, rgba(232, 220, 220, 0.037), rgb(246, 227, 227));
  }

  .card {
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    font-family: 'Calibri';
    font-size: 15px;
    margin-top: 15px;

  }

  .cardbuttons {
    border: 1px white;
    font-size: 16px;
    padding: 7px;
    box-shadow: 0px 1px 2px 3px hsl(198deg 78% 82%);
    width: 125px;
    background-color: Transparent;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .cardbuttons:hover {
    opacity: 1;
    box-shadow: 0px 1px 2px 3px rgba(53, 40, 53, 0.255);
    background-image: linear-gradient(to right, rgba(232, 220, 220, 0.037), rgb(246, 227, 227));
  }

  .card-img {
    width: 100%;
    height: 50%;
  }

  .our-services {
    text-align: center;
    background-color: #fff;
  }

  .our-services h1 {
    margin-bottom: 45px;
    font-size: 40px;
  }

  .card2 {
    box-shadow: none;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card2:hover {
    box-shadow: 0 0.4rem 0.5rem 0rem rgb(0 0 0 / 15%);
    background-color: #f3e2e2;
  }

  .our-services .servicesicon {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .our-services .servicesicon i {
    line-height: 70px;
    font-size: 60px;
    color: red;
  }

  .our-services .short-description {
    font-size: 14px;
  }

  h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    margin-top: 10px;
    height: 3px;
    background: #3498db;
    left: calc(50% - 20px);
  }

  .p {
    margin-top: 20px;
    font-size: 15px;
  }

  body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  a {
    color: blue;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  .nav-item a {
    color: #6c757d;
    ;
  }

  .nav-tabs .nav-link.active {
    border-top: 4px solid red;
    margin-bottom: -4px;
  }

  .nav-link {
    padding: 0.7rem 1.5rem;
  }

  .nav-tabs {
    background-color: rgb(185 177 177 / 6%);
  }

  .card-header {
    font-size: 20px;
    background-color: rgb(185 177 177 / 6%);
    border-bottom: 0px;
    color: #050505;
  }

  .CollapsibleCard {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%);
    border-radius: 4px;
  }

  .image {
    background-image: url(apple.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
  }

  .formcard {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
    padding: 23px;
    margin: 0 auto;
    width: 50%;
  }

  .form-check-inline .form-check-input {
    margin-top: revert;
  }

  .form-check-input {
    margin-top: 0.5rem;
  }

  label {
    margin-right: 3.5rem;
  }

  .h {
    font-size: xx-large;
  }

  .footer {
    background-color: black;
    color: white;
    font-family: 'Calibri';
    width: 100%;
    height: 76px;
    font-size: 15px;
  }

  .fotright {
    float: right;
  }

  .fotspace {
    padding-block: 10px;
    padding-top: 25px;
    float: left;
  }

  .fotspace1 {
    padding-block: 10px;
    padding-top: 25px;
  }

  .fotspace2 {
    padding-block: 10px;
    padding-top: 25px;
  }

  .fotspace3 {
    padding-block: 10px;
    padding-top: 25px;
  }

  .fotarrow {
    padding-top: 23px;
    padding-inline: 5px;
  }

  .modal-footer{
    justify-content: center;
  }

  .modal-title {
  margin-inline-start: auto;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 500px;
  }

  .toast {
    z-index: 999;
    width: 88%;
    position: absolute;
    border-radius: 7px;
    border-left: 8px solid #35d750;
  }

  .toast .toasticon {
    font-size: 38px;
    color: #35d750;
    padding-top: 6px;
    padding-left: 14px;
  }

  .toast-header {
    border-bottom: none;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .toast-body {
    padding-top: 0px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 7px;
  }

  .column img {
    margin-top: 15px;
    vertical-align: middle;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
  }
  
  .flex-item-left {
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 50%;
  }
  @media screen and (min-width : 0px) and (max-width : 472px) {
    .header {
      height: 100px;
    }

    .centered {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 75%;
    }

    .marcen {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .logo {
      height: 55px;
    }

    .about {
      width: 100%;
      text-align: center;
    }

    .flex-container {
      flex-direction: column;
    }

    .aboutpic {
      width: 102%;
    }

    .bflex {
      display: block !important;
    }

    .readbuttons {
      margin-block: 40px;
      float: none;
    }

    .formcard {
      width: 100%;
    }

    .imag {
      height: 250px;
    }

    .censho h1 {
      font-size: 20px;
    }

    .censho p {
      font-size: 12px;
    }

    .censho .btnstyle {
      margin: 0;
      height: 35px;
      width: 95px;
      font-size: 15px;
    }

    section {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .navbar {
      padding-inline: 0px;
      height: 110px;
      box-shadow: none;
    }

    .nav {
      display: none;
    }

    .marcen2 {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .space {
      padding-block: 0px;
      font-size: 13px;
      display: block;
    }

    .arrow {
      padding-block: 0;
    }

    .space2 {
      padding-block: 0px;
      font-size: 13px;
      display: block;
    }

    .searchhold {
      height: 28px;
      width: 200px !important;
    }

    .searchbar {
      margin-left: 10px;
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .justify {
      display: block !important;
    }

    .icon {
      padding: 0;
      margin: 0 auto;
      justify-content: center;
      display: flex;

    }

    .card {
      display: block;
      min-width: none;
    }

    .d-flex .fotspace {
      justify-content: center;
      font-size: 15px;
      display: block;
    }

    .footer {
      height: 120px;
      font-size: small;
    }

    .fotright {
      float: none;
      justify-content: center;
    }

    .fotspace {
      float: none;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      padding-top: 33px;
    }

    .fotspace1 {
      padding-block: 2px;
      font-size: 14px;
    }

    .fotarrow {
      padding-inline: 5px;
      padding-block: 3px;
    }

    .fotspace2 {
      padding-block: 2px;
      font-size: 14px;
    }

    .fotspace3 {
      padding-block: 2px;
      font-size: 14px;
    }
  }

  @media screen and (min-width : 0px) and (max-width : 318px) {
    .centered {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 75%;
    }

    .censho h1 {
      font-size: 20px;
    }

    .censho p {
      font-size: 12px;
    }

    .censho .btnstyle {
      margin: 0;
      height: 35px;
      width: 95px;
      font-size: 15px;
    }

    .nav {
      display: none;
    }

    .header {
      height: 115px;
    }
  }

  @media screen and (min-width : 318px) and (max-width : 378px) {
    .header {
      height: 115px;
    }

    .centered {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  @media screen and (min-width : 473px) and (max-width : 512px) {
    .header {
      height: 100px;
    }

    .centered {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 75%;
    }

    .marcen {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .logo {
      height: 55px;
    }

    .about {
      width: 100%;
      text-align: center;
    }

    .aboutpic {
      width: 101%;
    }

    .flex-container {
      flex-direction: column;
    }

    .bflex {
      display: block !important;
    }

    .readbuttons {
      margin-block: 40px;
      float: none;
    }

    .formcard {
      width: 100%;
    }

    .imag {
      height: 250px;
    }

    .censho h1 {
      font-size: 25px;
    }

    .censho p {
      font-size: 12px;
    }

    .censho .btnstyle {
      margin: 0;
      height: 35px;
      width: 95px;
      font-size: 15px;
    }

    section {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nav {
      display: none;
    }
   
    .marcen2 {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .space {
      padding-block: 0px;
      padding-left: 10px;
      font-size: 13px;
      display: block;
    }

    .arrow {
      padding-block: 0;
    }

    .space2 {
      padding-block: 0px;
      font-size: 13px;
      display: block;
    }

    .searchhold {
      height: 28px;
      width: 200px !important;
    }

    .searchbar {
      margin-left: 10px;
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .justify {
      display: block !important;
    }

    .icon {
      padding: 0;
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .card {
      display: block;
      min-width: none;
    }

    .footer {
      height: 120px;
      font-size: small;
    }

    .fotright {
      float: none;
      justify-content: center;
    }

    .fotspace {
      float: none;
      justify-content: center;
      text-align: center;
      font-size: 15px;
      padding-top: 30px;
    }

    .fotspace1 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotarrow {
      padding-inline: 5px;
      padding-block: 3px;
    }

    .fotspace2 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotspace3 {
      padding-block: 2px;
      font-size: 15px;
    }
  }

  @media screen and (min-width : 513px) and (max-width : 575px) {
    section {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .about {
      width: 100%;
    }

    .aboutpic {
      width: 102%;
      padding-block: 95px;
    }

    .bflex {
      display: block !important;
    }

    .readbuttons {
      margin-block: 40px;
      float: none;
    }

    .formcard {
      width: 100%;
    }

    .imag {
      height: 250px;
    }

    .centered {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 75%;
    }

    .censho h1 {
      font-size: 20px;
    }

    .censho p {
      font-size: 12px;
    }

    .censho .btnstyle {
      margin: 0;
      height: 35px;
      width: 95px;
      font-size: 15px;
    }

    .marcen {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .logo {
      height: 55px;
    }

     .nav {
      display: none;
    }

    .header {
      height: 100px;
    }

    .marcen2 {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .space {
      padding-block: 0px;
      padding-left: 10px;
      font-size: 13px;
    }

    .arrow {
      padding-block: 0;
    }

    .space2 {
      padding-block: 0px;
      font-size: 13px;
      display: block;
    }

    .searchhold {
      height: 28px;
      width: 200px !important;
    }

    .searchbar {
      margin-left: 10px;
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .icon {
      padding: 0;
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .justify {
      display: block !important;
    }

    .footer {
      height: 120px;
      font-size: small;
    }

    .fotright {
      float: none;
      justify-content: center;
    }

    .fotspace {
      float: none;
      justify-content: center;
      text-align: center;
      font-size: 15px;
      padding-top: 34px;
    }

    .fotspace1 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotarrow {
      padding-inline: 5px;
      padding-block: 3px;
    }

    .fotspace2 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotspace3 {
      padding-block: 2px;
      font-size: 15px;
    }

    .footer {
      height: 120px;
      font-size: small;
    }

    .fotright {
      float: none;
      justify-content: center;
    }

    .fotspace {
      float: none;
      justify-content: center;
      text-align: center;
      font-size: 15px;
      padding-top: 30px;
    }

    .fotspace1 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotarrow {
      padding-inline: 5px;
      padding-block: 3px;
    }

    .fotspace2 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotspace3 {
      padding-block: 2px;
      font-size: 15px;
    }
  }

  @media screen and (min-width : 576px) and (max-width : 768px) {
    section {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .about {
      width: 100%;
      
    }

    .aboutpic {
      width: 102%;
      padding-block: 100px;
    }

    .bflex {
      display: block !important;
    }

    .readbuttons {
      margin-block: 40px;
      float: none;
    }

    .formcard {
      width: 100%;
    }

    .imag {
      height: 250px;
    }

    .centered {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    .censho h1 {
      font-size: 20px;
    }

    .censho p {
      font-size: 12px;
    }

    .censho .btnstyle {
      margin: 0;
      height: 35px;
      width: 95px;
      font-size: 15px;
    }

    .marcen {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }
    
    .logo {
      height: 55px;
    }

    .navbar {
      padding-inline: 0px;
      height: 110px;
    }

    .nav {
      flex-wrap: initial;
    }

    .font-weight-bold {
      font-weight: 645!important;
    }

    .header {
      height: 100px;
    }

    .marcen2 {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .space {
      padding-block: 0px;
      font-size: 13px;
      display: block;
    }

    .arrow {
      padding-block: 0;
    }

    .space2 {
      padding-block: 0px;
      font-size: 13px;
      display: block;
    }

    .searchhold {
      height: 28px;
      width: 200px !important;
    }

    .searchbar {
      margin-left: 10px;
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .icon {
      padding: 0;
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }

    .justify {
      display: block !important;
    }

    .card-deck .card {
      display: block;
      min-width: auto;
    }

    .footer {
      height: 120px;
      font-size: small;
    }

    .fotright {
      float: none;
      justify-content: center;
    }

    .fotspace {
      float: none;
      justify-content: center;
      text-align: center;
      font-size: 15px;
      padding-top: 32px;
    }

    .fotspace1 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotarrow {
      padding-inline: 5px;
      padding-block: 3px;
    }

    .fotspace2 {
      padding-block: 2px;
      font-size: 15px;
    }

    .fotspace3 {
      padding-block: 2px;
      font-size: 15px;
    }
  }

  @media screen and (min-width : 576px) and (max-width : 602px) {
    .nav {
      display: none;
    }
  }
  @media screen and (min-width : 769px) and (max-width : 992px) {
    section {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .about {
      width: 100%;
      text-align: center;
    }

    .aboutpic {
      width: 100%;
      padding-block: 75px;
    }

    .bflex {
      display: block !important;
    }

    .readbuttons {
      margin-block: 40px;
      float: none;
    }

    .formcard {
      width: 100%;
    }

    .imag {
      height: 250px;
    }

    .centered {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    .censho h1 {
      font-size: 30px;
    }

    .censho p {
      font-size: 13px;
    }

    .censho .btnstyle {
      margin: 0;
      height: 35px;
      width: 95px;
      font-size: 15px;
    }

    .marcen {
      margin: 0 auto;
      justify-content: center;
      display: flex;
    }
    
    .logo {
      height: 55px;
    }

    .navbar {
      padding-inline: 0px;
      height: 110px;
    }

    .justify-content-end{
      justify-content: none;
     }

    .nav {
      flex-wrap: initial;
    }

    .space {
      padding-block: 12px;
      padding-left: 10px;
      font-size: 13px;
      display: block;
    }

    .arrow {
      padding-block: 8;
    }

    .space2 {
      padding-block: 12px;
      font-size: 13px;
      display: block;
    }

    .searchhold {
      height: 28px;
      width: 200px !important;
    }

    .searchbar {
      padding-block: 8px;
      margin-left: 0px;
    }

    .icon {
      padding: 4;
      padding-left: 0px;
      padding-right: 15px;
    }

    .card-deck .card {
      display: block;
      min-width: 0;
    }

    .card {
      display: block;
      min-width: 0;
    }

    .fotarrow {
      padding-inline: 5px;
    }
  }

  @media screen and (min-width : 992px) and (max-width : 1200px) {
    section {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .aboutpic {
      width: 144%;
    }

    .space {
      padding-block: 12px;
      padding-left: 10px;
      font-size: 13px;
      display: block;
    }

    .arrow {
      padding-block: 8;
    }

    .space2 {
      padding-block: 12px;
      font-size: 13px;
      display: block;
    }

    .searchhold {
      height: 28px;
      width: 200px !important;
    }

    .searchbar {
      padding-block: 8px;
      margin-left: 0px;
    }

    .icon {
      padding: 4;
      padding-left: 0px;
      padding-right: 15px;
    }

    .fotarrow {
      padding-inline: 5px;
    }
  }